$darkGray: #363838;
%title-font{
   font-family: "Montserrat";
   font-weight: 700;
   font-style: normal;
   color: $darkGray;
}
$container: 1150;
$Wlarge: 992.98;
$Wmedium: 768.98;
$Wsmal: 576.98;
$WXsmal: 480.98;